# Temp stuff
*~
\#*
.DS_Store
*.log

# Libs
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
/.vscode

# Miniconda
/.miniconda3
/.venv
/.node

# Coverage output
/.coverage
/.coverage_html

# data stored in artifactory
/data

# test output
/.tmp_test_out

# dynamic version file
/version.py

# typescript files
node_modules
dist/
npm-debug.log
tsconfig.tsbuildinfo

# metabuild
/build_mb

# builds
/wheelhouse

# eval
/eval*
/output*
*.pyc

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
*.cmake

# Build directories
build/
Build/
BUILD/
out/
_build/

# CMake temporary files
*.tmp
*.cmake~
